@model int
<a href="/notification" class="stat-box notification-box" style="text-decoration: none;">
    <i class="bi bi-bell-fill"></i>
    <div class="count">@Model</div>
    <div class="label">Bildirim</div>
</a>