@model List<Topics>
<div class="topic-select-container">
    <select class="js-example-basic-single form-control" name="TopicId" id="topic" data-placeholder="Konu seçin...">
        <option></option>
        @foreach(var item in Model)
        {
            <option value="@item.Id"># @item.TopicTitle</option>
        }
    </select>
</div>